.about-box {
  display: flex;
  justify-content: space-between;
}
.about-box-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 120px;
}

.about-box-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-title {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: 33%;
  margin-right: 30%;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #0e133a;
}

.about-subtitle {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #0e133a;
}

.about-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #1f33d8;
}

.about-parent {
  position: relative;
  top: 0;
  left: 0;
  padding-left: 120px;
  padding-top: 40px;
  padding-bottom: 80px;
}
.about-image1 {
  position: relative;
  top: 0;
  left: 0;
}
.about-image2 {
  position: absolute;
  top: 13px;
  left: 120px;
}
