.box {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.box-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-right {
  display: flex;
  flex-direction: column;
}
